MAILER_DSN=brevo+smtp://USERNAME:PASSWORD@default
MAIL_FROM=ton-email-verifie@domaine.com
MAIL_FROM_NAME=CandidManager
MAIL_SEND_ENABLED=false
MAIL_MAX_BATCH_SIZE=20
MAIL_DRY_RUN=true
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
