/.idea/
/.vscode/
## Backend
/backend/vendor/
/backend/var/
/backend/.env
/backend/.env.dev
/backend/.env.test

## Frontend
/frontend/node_modules/
/frontend/dist/
backend/var/uploads/
/.env
/.env.local
